html{
   height: 100%;  
}

body {
    padding: 0;
    margin: 0;
    font: normal normal normal 12px/14px helvetica, arial, sans-serif;
}

body#indexBody {
    height: 100%;
    background:#fff url(./images/body.png) top left repeat-x;
}


#indexBody header {
    padding:50px 0 20px 0;
    margin: 0 2%;
    background: url(./images/main_header.png) top left no-repeat;   
    margin-bottom: 1%;
}

@media (max-width: 799px)  {
    
}

@media (min-width: 800px) {
    
    #indexBody header {
        padding-top: 74px;
        background-image: url(./images/main_header_800.png);
    }
    
    body#indexBody { 
        background-image:url(./images/body_800.png);
    }

}


#indexBody header h1 {
    display:none;
}

header form {
    padding:10px 20px;
}

header input#url {
    width: 40%;
}

header input#deeper {
    width: 20px;
}

header input#regex_second {
    width: 150px;
}

header label {
    margin-right: 4px;
}

div#examples a {
  margin-right: 0.5em;
}


.digframe {
    display: block;
    float:left;
    margin-left:2%;
    width: 45%;
    height:82%;
    border: none;
}

#urlframe {    
    border:1px solid #333;
    float:left;    
}

#twkframe {    
    float:right;
    margin-right: 2%;
    background: #f5f6f5;
    border-radius: 12px;
}

img.thumb {
    max-width: 100%;
}

h3 {
    background-color: #eee;
    padding: 2%;
    margin-top: 0;
}

.imagesection {
    padding: 0;
    margin: 0 0 70px 0;
}

input.tags,
input.title {
    width: 100%;
    clear: both;
}
textarea.description {
    width: 100%;
    clear: both;
}

a.caption {
    margin: 10px auto;
    display: block;
    clear: both;
}

.alert {
    color: red;
}

.sep {
    border: 1px solid gray;
    width: 100%;
}

#digtable {
    width: 100%;
}

/*
 *   DIG PAGE
 */

body#digBody {
    padding: 10px 20px;
}

#diggetform label { 
    display:inline-block;
    width: 15em;
}

#diggetform p {
    margin: 6px;
}
